# Environment variables
.env
.apk*
.env.local
.env.development.local
.env.test.local
.env.production.local 
node_modules
.history
/.history
/ios
/ios_old
.expo
.history
/android
android
android_olddist/

dist/
